rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /suggestions/{suggestionId} {
      allow read: if true;
      allow create: if request.resource.data.title is string
                    && request.resource.data.title.size() <= 100
                    && request.resource.data.content is string
                    && request.resource.data.content.size() <= 2000
                    && request.resource.data.authorName is string
                    && request.resource.data.authorName.size() <= 30;
      allow update: if true;
      allow delete: if true;
    }
  }
}
